.CredExperience {
  background-color: var(--bg-red);
  background-image: url(https://web-images.credcdn.in/_next/assets/images/home-page/money-matters-bg.jpg);
}

@media all and (max-width: 1279px) {
  .CredExperience {
    position: center bottom;
  }
}

@media all and (max-width: 767px) {
  .CredExperience {
    background-image: url(https://web-images.credcdn.in/_next/assets/images/home-page/money-matters-bg-mobile.jpg);
    min-height: 1150px;
    position: right center;
  }
}
